:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary-color:#e50914 ;
  --primary-bg-color:#000000;
  --main-color:#ffffff;
  --main-2:#8c8c8c;
  --main-3:#757575;
  --main-4:#999999;
  --accent-Blue:#0071EB;
  --accent-Orange:#FFA00A;
  --accent-Green:#5FA53F;
  --color-lightB:#222222;
  --default-font:"Signika",sans-serif;
 /*
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  */
  
}
/*{
  border:purple 1px solid;
}*/
.app-index{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.app-index button{
  background-color: var(--primary-bg-color);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  margin: 1vw;
  padding: 1rem;
  align-self: flex-start;
  width: 30%;
}
.app-index a{
  color: white;
  text-decoration: none;
  font-family: var(--default-font);
  font-size: 2rem;
}
body{
  background-color: var(--primary-color);
  font-family: var(--default-font);
  color: white;
}
.home-page{
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 5vw;
}
p{
  margin-left: 5%;
}
.primary{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 3vw 0;
}
.primary-ones{
  width:30vw;
  height: 30vh;
  color: white;
  margin-bottom: 2rem;
  margin-left: 10%;
}
.red-one{
  background-color: var(--primary-color);
  width:30vw;
  height: 30vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.black-one{
  width:30vw;
  height: 30vh;
  border:solid white 1px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.typho-section{
  display: flex;
  flex-direction: column;
}
.typho{
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-left: 10%;
  padding: 0;
  
}
.typ-head{
  display: block;
  margin-left: 10%;
}
.typho-colors{
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #000000;
}
.main-w{
  background-color: var(--main-color);
  color: black;
}
.main{
  background-color: var(--primary-color);
  color: white;
  display: flex;
  justify-content: center;
  margin-left: .7rem;
  margin-top: .7rem;
  padding: 0;
  width: 40%;
  flex-wrap: wrap;
  justify-self: flex-start;
}
.main-g1{  
background-color: var(--main-2);
justify-content: flex-end;
}
.main-g2{
  background-color: var(--main-3);
  justify-content: flex-end;
}
.main-g3
{
  background-color: var(--main-4);
  justify-content: flex-end;
}

.accent-blue{
background-color: var(--accent-Blue);
color: white;
margin-right: 2vw;
}
.accent-orange{
  background-color: var(--accent-Orange);
  color: white;
  margin-right: 2vw;
}
.accent-green{
  background-color: var(--accent-Green);
  color: white;
  margin-right: 2vw;
}
.mainAccent-B{
  background-color: white;
  color:var(--accent-Blue)
}
.mainAccent-O{
  background-color: white;
  color:var(--accent-Orange)
}
.mainAccent-G{
  background-color: white;
  color:var(--accent-Green)
}
.back-Black{
  background-color: var(--primary-bg-color);
  color: white;
}
.accent-Black{
  background-color: var(--primary-bg-color);
  color: white;
  margin-right: 2vw;
  border:solid white 1px;
}
.accent-lightB{
  background-color: var(--color-lightB);
  color: white;
  margin-right: 2vw;
  
}

  /*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
  */
